body {
    font-family: 'Noto Sans JP', sans-serif;;
    background-color: #ffffff;
    color: #222222;
}

a {
    color: #222222;
    text-decoration: none;
}

/* フォント */
.gnav-pc ul, .gnav-sp ul{
    font-family: "Lora", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 54px;
    font-weight: 600;
}

#mainvisual h2 {
    font-size: 24px;
    font-weight: 400;
}

.course-title {
    font-size: 24px;
    font-weight: 700;
}

.title-en {
    font-family: "Lora", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

p.normal {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

.title-jp .news-date, .access-detail{
    font-size: 16px;
    font-weight: 400;
}

.contact-form {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.form-title {
    font-weight: 600;
}

.news-btn, .submit-btn {
    font-size: 18px;
    font-weight: 700;
}

.attention-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.8;
}

footer {
    font-size: 12px;
    font-weight: 300;
}

/* 共通 */
section {
    max-width: 1200px;
    margin: 0px auto;
    padding: 100px 25px 50px;
}

.title-wrap {
    text-align: center;
    margin-bottom: 50px;
}

.title-en {
    color: #E29B20;
    margin-bottom: 20px;
}

.title-jp {
    color: #E29B20;
}

.section-text {
    text-align: center;
}

.hammenu, .gnav-sp {
    display: none;
}

/* ヘッダー */
header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 20;
}

.header-inner {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.gnav-pc ul{
    display: flex;
    column-gap: 50px;
}

.gnav-a {
    padding-bottom: 5px;
    position: relative;
}

.gnav-a::before {
    background: #222222;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.gnav-a:hover::before {
    transform-origin: center top;
    transform: scale(1, 1);
}

/* メインビジュアル */
#mainvisual {
    margin-top: 80px;
    padding: 0 25px;
}

.mv-center {
    height: calc(100vh - 80px);
    max-width: 1200px;
    margin: 80px auto 0px;
    padding: 70px 50px 50px;
    background-image: url(../img/mainvisual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
}

.copy-wrap {
    color:#ffffff;
    text-align: center;
}

.copy-anime {
    animation: copyAnime 2.0s ease 0.5s forwards;
}
@keyframes copyAnime{
    0% {
        letter-spacing: 0em;
    }
    40% {
        letter-spacing: 1em;
    }
    100% {
        letter-spacing: 0.3em;
    }
}

h1 {
    margin-bottom: 20px;
}

/* スクロールダウン */
/*スクロールダウン全体の場所*/
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  left:50%;
  bottom:10px;
    /*全体の高さ*/
  height:40px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  position: absolute;
  left:-17px;
  top: -15px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

/* 線の描写 */
.scrolldown1::after{
  content: "";
    /*描画位置*/
  position: absolute;
  top: 0;
    /*線の形状*/
  width: 1px;
  height: 20px;
  background: #ffffff;
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.8s ease-in-out infinite;
  opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}

/* ABOUT */
#about p.normal {
    margin-bottom: 20px;
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.about-img {
    width: 300px;
    height: auto;
}

.about-img-item img{
    width: 100%;
}

.slick-list {
    border-radius: 50%;
}

#about {
    padding-bottom: 0px;
}

/* COURSE */
#course .section-text p.normal {
    margin-bottom: 50px;
}

.course-item {
    display: flex;
    margin-top: 50px;
    column-gap: 30px;
}

.course-img {
    width: 50%;
}

.course-img img{
    width: calc(100% - 10px);
    box-shadow: 10px 10px 0px 0px #E29B20;
}

.course-img01 {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.course-img02 {
    border-radius: 61% 39% 67% 33% / 58% 53% 47% 42%;
}

.course-img03 {
    border-radius: 42% 58% 27% 73% / 58% 75% 25% 42%;
}

.course-text {
    width: 50%;
    display: flex;
    align-items: center;
}

.rightside {
    justify-content: flex-end;
}

.course-text-child {
    padding: 50px;
}

.course-title {
    margin-bottom: 40px;
    color: #E29B20;
}

/* NEWS */
.news-item-wrap {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.news-item {
    width: 350px;
}

.news-img img {
    width: 100%;
    border-radius: 30px;
}

.news-date {
    margin: 30px auto 20px;
    border-radius: 30px;
    background-color: #E29B20;
    color: #ffffff;
    width: fit-content;
    text-align: center;
    padding: 8px 20px;
}

.news-item a:hover {
    opacity: 0.7;
}

.news-btn {
    display: block;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    color: #E29B20;
    letter-spacing: 0.05em;
    border-radius: 50px;
    border: 2px solid #E29B20;

    overflow: hidden;
    position: relative;
    z-index: 1;

    /* Submitボタンとの差異↓ */
    margin: 70px auto 0;
}

.news-btn::after {
    background: #E29B20;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.news-btn:hover {
    color: #ffffff;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

.news-btn:hover::after {
    transform: scale(1, 1);
}

/* ACCESS */
.googlemap iframe{
    width: 90%;
    height: 400px;
    border-radius: 30px;
    border: 2px solid #E29B20;
}

.access {
    background-color: #ffffff;
    border: 2px solid #E29B20;
    border-radius: 30px;
    padding: 30px 50px;
    display: flex;
    width: fit-content;
    margin: -120px 0 0 auto;
    box-shadow: 10px 10px 0px 0px #E29B20;
}

.access-detail dt {
    float: left;
    clear: left;
    width: 70px;
    margin: 10px;
    color: #E29B20;
}

.access-detail dd {
    float: left;
    margin: 10px;
}

/* CONTACT */
.attention {
    display: flex;
    column-gap: 20px;
    align-items: center;
    color: #E29B20;
    padding: 10px 20px;
    border: 2px solid #E29B20;
    width: fit-content;
    margin: 30px auto 50px;
}

.attention-img img {
    width: 30px;
}

.contact-form {
    background-image: url(../img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.contact-form form{
    padding: 50px;
    width: 60%;
}

.form-item {
    display: flex;
    border: none;
    align-items: center;
}

.form-title {
    width: 30%;
    padding-right: 30px;
    color: #ffffff;
}

.form-input {
    width: 70%;
    margin: 15px 0;
}

.form-border {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 15px;
}

/* チェックボックスリセット */
input[type="checkbox"] {
    border-radius: 0;
    appearance: none;
}

/* チェックボックス修正 */
input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    vertical-align: -5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}
  
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 2px;
    left: 5px;
    transform: rotate(50deg);
    width: 6px;
    height: 10px;
    border-right: 2px solid #222222;
    border-bottom: 2px solid #222222;
    content: '';
}

.reason-checkbox {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.checkbox-item label {
    color: #ffffff;
}

.submit-btn-wrap {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    color: #E29B20;
    letter-spacing: 0.05em;
    border-radius: 50px;

    overflow: hidden;
    position: relative;
    z-index: 1;

    /* Newsボタンとの差異↓ */
    margin: 50px auto 0;
}

.submit-btn-wrap::after {
    background: #E29B20;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.submit-btn-wrap:hover {
    color: #ffffff;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

.submit-btn-wrap:hover::after {
    transform: scale(1, 1);
}

/* フッター */
footer {
    margin-top: 100px;
    background-color: #707070;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    letter-spacing: 0.1em;
}

/* PageTop*/
.pagetop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    opacity: 0;
    transform: translateY(100px);
}
  
.pagetop a{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    transition: all 0.3s;
    position: relative;
}
  
.pagetop a::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    left: 13px;
    transform: rotate(-45deg);
    border-top: 2px solid #E29B20;
    border-right: 2px solid #E29B20;
    border-radius: 2px;
}
  
.pagetop a:hover{
    background-color: #E29B20;
}

.pagetop a:hover::before {
    border-color: #ffffff;
}

/*　上に上がる動き　*/
.pagetop.pt-up{
    animation: ptupAnime 1.0s forwards;
}
@keyframes ptupAnime{
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/
.pagetop.pt-down{
    animation: ptdownAnime 1.0s forwards;
}
@keyframes ptdownAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(50px);
    }
}

/* ふわっと表示*/
.fade-block {
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.8s ease-out;
}

.fade-block.blockIn{
	opacity: 1;
	transform: translateY(0);
}

/* 以下レスポンシブ */
@media screen and (max-width:768px) {

    /* フォント */
    h1 {
        font-size: 36px;
    }

    #mainvisual h2 {
        font-size: 18px;
    }

    p.normal {
        font-size: 14px;
    }

    /* 共通 */
    section {
        width: 100%;
        padding: 70px 25px 20px;
    }

    .title-wrap {
        margin-bottom: 30px;
    }

    .linebreak {
        display: block;
    }

    /* ヘッダー */
    header {
        height: 60px;
    }

    .header-inner {
        padding: 10px 25px;
    }

    .gnav-pc {
        display: none;
    }

    .logo img{
        height: 40px;
        width: auto;
    }

    /* メインビジュアル */
    #mainvisual {
        margin-top: 60px;
        padding: 0 25px;
    }

    .mv-center {
        height: calc(100vh - 60px);
        margin: 60px auto 0px;
        padding: 50px 10px;
        border-radius: 20px;
    }

    h1 {
        line-height: 1.4;
        margin-bottom: 15px;
    }

    #mainvisual h2 {
        line-height: 1.7;
    }

    .copy-anime {
        animation: copyAnime 2.0s ease 0.5s forwards;
    }
    @keyframes copyAnime{
        0% {
            letter-spacing: 0em;
        }
        40% {
            letter-spacing: 0.25em;
        }
        100% {
            letter-spacing: 0.1em;
        }
    }

    /* ABOUT */
    .about-wrap {
        flex-direction: column;
        row-gap: 30px;
    }
    
    /* COURSE */
    .course-item {
        flex-direction: column;
    }

    .course-item:nth-child(4) {
        flex-direction: column-reverse;
    }

    .course-img, .course-text {
        width: 100%;
    }

    .course-text-child {
        padding: 0 0 30px 0;
    }

    .course-title {
        margin-bottom: 20px;
        line-height: 1.5;
    }

    /* NEWS */
    .news-item-wrap {
        flex-direction: column;
        row-gap: 50px;
    }

    .news-item {
        width: 100%;
    }

    .news-date {
        margin: 20px auto 10px;
    }

    .news-btn {
        margin: 50px auto 0;
    }

    /* ACCESS */
    .access {
        width: 90%;
        padding: 20px;
        margin: -50px 0 0 auto;
    }

    .linebreak {
        display: block;
    }

    .access-detail dt {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .access-detail dd {
        width: 100%;
        margin: 0 0 10px 0;
    }

    /* CONTACT */
    .contact-form form {
        padding: 20px 20px 30px;
        width: 100%;
    }

    .form-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-title {
        width: 100%;
        padding-right: 20px;
    }

    .form-input {
        width: 100%;
    }

    .contact-form {
        font-size: 14px;
    }

    /* footer */
    footer {
        margin-top: 50px;
    }

    /* Hamburger Menu*/
    .hammenu {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }

    .hammenu span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333333;
        transition: all .5s;
    }

    .hammenu span:nth-of-type(1) {
        top: 0px;
    }

    .hammenu span:nth-of-type(2) {
        top: 10px;
    }

    .hammenu span:nth-of-type(3) {
        top: 20px;
    }

    .hammenu.active span:nth-of-type(1) {
        top: 10px;
        left: 0px;
        transform: rotate(-45deg);
    }

    .hammenu.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hammenu.active span:nth-of-type(3) {
        top: 10px;
        left: 0px;
        transform: rotate(45deg);
    }

    /* Global Navigation */
    .gnav-sp {
        background-color: #ffffff;
        width: 100%;
        position: fixed;
        z-index: 11;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 120px 0 70px;
        /* スタートは欄外から */
        top: -70%;
        transition: all 1.0s;
    }

    .gnav-sp.active {
        top: 0px;
    }

    .gnav-sp ul{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    } 

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
        opacity: 0.5;
        z-index: 10;
    }

}